body{
    position: relative;
    width: 1440px;
    height: 7648px;
    font-family: 'Raleway';
    font-style: normal;
}
.header__logo{
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    
    position: absolute;
    width: 109px;
    height: 32px;
    left: 140px;
    top: 38px;
    
    border: 2px solid #000000;
    border-radius: 8px;
}

.header__logo__text{
    width: 93px;
    height: 24px;
    
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    text-transform: uppercase;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__icon__developer{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1122px;
    top: 40px;

    background: #F1F1F1;
    border-radius: 10000px;
}

.header__icon__developer img{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
}

.header__icon__cloud{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 209px;
    top: 362px;

    background: #F1F1F1;
    border-radius: 10000px;
}

.header__icon__cloud img{
    position: absolute;
    width: 28px;
    height: 24px;
    left: 18px;
    top: 20px;
}

.header__icon__lightning{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1171px;
    top: 410px;

    background: #F1F1F1;
    border-radius: 10000px;
}

.header__icon__lightning img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;
}

.header__menu{
    padding: 0px;
    margin: auto;
    width: 950px;
    height: 24px;
    top: 40px;
    gap: 60px;
}

.header__menu ul{
    list-style: none;
    overflow: hidden;
}

.header__menu li{
    float: left;
    margin: 0 25px;
}

.header__menu a{
    text-decoration: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 110px;

    color: #000000;
}

.header__menu a:hover{
    color: #0000007c;
}

.header__text__first{
    position: absolute;
    width: 804px;
    height: 128px;
    left: 318px;
    top: 184px;

    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    
    text-align: center;
    letter-spacing: -0.02em;

    color: #181818;
}

.header__text__second{
    position: absolute;
    width: 484px;
    height: 48px;
    left: 478px;
    top: 352px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
}

.header__button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    position: absolute;
    width: 452px;
    height: 56px;
    left: 494px;
    top: 480px;
}

.header__button__first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 215px;
    height: 56px;

    background: #181818;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__button__first p{
    width: 167px;
    height: 24px;
    padding: 15px 24px 17px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.header__button__second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 215px;
    height: 52px;

    border: 2px solid #000000;
    border-radius: 8px;
}

.header__button__second p{
    width: 137px;
    height: 24px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #181818;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.header__button__second img{
    box-sizing: border-box;

    width: 24px;
    height: 24px;
    left: 24px;
    top: 17px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.main__gallery__first{
    left: 140px;
    top: 728px;
    position: absolute;

    box-sizing: border-box;

    width: 1160px;
    height: 460px;

    background: url(/src/img/pic1.jpg)no-repeat;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    background-size: cover;
}

.main__gallery__second{
    left: 140px;
    top: 1228px;
    position: absolute;

    box-sizing: border-box;

    width: 560px;
    height: 400px;

    background: url(/src/img/pic2.jpg)no-repeat;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    background-size: cover;
}

.main__gallery__third{
    left: 740px;
    top: 1228px;
    position: absolute;

    box-sizing: border-box;

    width: 560px;
    height: 400px;

    background: url(/src/img/pic3.jpg)no-repeat;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    background-size: cover;
}

.main__gallery__fourth{
    left: 140px;
    top: 1668px;
    position: absolute;

    box-sizing: border-box;

    width: 1160px;
    height: 544px;

    background: url(/src/img/pic4.jpg)no-repeat;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    background-size: cover;
}

.main__gallery__fifth{
    left: 140px;
    top: 2252px;
    position: absolute;

    box-sizing: border-box;

    width: 560px;
    height: 400px;

    background: url(/src/img/pic5.jpg)no-repeat;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    background-size: cover;
}

.main__gallery__sixth{
    left: 740px;
    top: 2252px;
    position: absolute;

    box-sizing: border-box;

    width: 560px;
    height: 400px;

    background: url(/src/img/pic6.jpg)no-repeat;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    background-size: cover;
}

.main__me__heading{
    position: absolute;
    width: 478px;
    height: 64px;
    left: 740px;
    top: 2832px;

    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #181818;
}

.main__me__text{
    position: absolute;
    width: 484px;
    height: 168px;
    left: 740px;
    top: 2920px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.main__me__photo{
    position: absolute;
    width: 400px;
    height: 560px;
    left: 300px;
    top: 2802px;

    background: url(/src/img/pic7.jpg);
    border-radius: 24px;
}

.main__me__icon{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 227px;
    top: 3280px;

    background: #F1F1F1;
    border-radius: 10000px;
}

.main__me__icon img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;
}

.main__me__points p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}

.main__me__points__first{
    position: absolute;
    width: 79px;
    height: 48px;

    left: 740px;
    top: 3172px;
}

.main__me__points__second{
    position: absolute;
    width: 87px;
    height: 48px;

    left: 883px;
    top: 3172px;
}

.main__me__points__third{
    position: absolute;
    width: 87px;
    height: 48px;

    left: 1034px;
    top: 3172px;
}

.main__me__points span{
    width: 41px;
    height: 24px;

    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    font-feature-settings: 'pnum' on, 'lnum' on;
}

.main__services__background{
    position: absolute;
    width: 1440px;
    height: 768px;
    left: 0px;
    top: 3512px;

    background: #181818;
}

.main__services__heading{
    position: absolute;
    width: 156px;
    height: 64px;
    left: 642px;
    top: 3552px;

    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.main__services__first, .main__services__second, .main__services__third{
    width: 368px;
    height: 384px;

    background: #FFFFFF;
    border-radius: 16px;
}

.main__services__first{
    position: absolute;
    left: 140px;
    top: 3736px;
}

.main__services__second{
    position: absolute;
    left: 536px;
    top: 3736px;
}

.main__services__third{
    position: absolute;
    left: 932px;
    top: 3736px;
}

.main__services__first__number, .main__services__second__number, .main__services__third__number{
    width: 288px;
    height: 24px;

    font-weight: 500;
    font-size: 12px;
    line-height: 24px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;
}

.main__services__first__number{
    position: absolute;
    left: 180px;
    top: 3776px;
}

.main__services__second__number{
    position: absolute;
    left: 576px;
    top: 3776px;
}

.main__services__third__number{
    position: absolute;
    left: 972px;
    top: 3776px;
}

.main__services__first__heading, .main__services__second__heading, .main__services__third__heading{
    width: 288px;
    height: 24px;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}

.main__services__first__heading{
    position: absolute;
    left: 180px;
    top: 3788px;
}

.main__services__second__heading{
    position: absolute;
    left: 576px;
    top: 3788px;
}

.main__services__third__heading{
    position: absolute;
    left: 972px;
    top: 3788px;
}

.main__services__first__text, .main__services__second__text, .main__services__third__text{
    width: 288px;
    height: 96px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #181818;
}

.main__services__first__text{
    position: absolute;
    left: 180px;
    top: 3828px;
}

.main__services__second__text{
    position: absolute;
    left: 576px;
    top: 3828px;
}

.main__services__third__text{
    position: absolute;
    left: 972px;
    top: 3828px;
}

.main__services__first__line,.main__services__second__line, .main__services__third__line{
    width: 80px;
    height: 0px;

    opacity: 0.2;
    border: 1px solid #181818;
}

.main__services__first__line{
    position: absolute;
    left: 180px;
    top: 3980px;
}

.main__services__second__line{
    position: absolute;
    left: 576px;
    top: 3980px;
}

.main__services__third__line{
    position: absolute;
    left: 972px;
    top: 3980px;   
}

.main__services__first__price, .main__services__second__price, .main__services__third__price{
    width: 288px;
    height: 24px;

    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #181818;
}

.main__services__first__price{
    position: absolute;
    left: 180px;
    top: 4036px; 
}

.main__services__second__price{
    position: absolute;
    left: 576px;
    top: 4036px; 
}

.main__services__third__price{
    position: absolute;
    left: 972px;
    top: 4036px; 
}

.main__price__heading{
    position: absolute;
    width: 446px;
    height: 64px;
    left: 497px;
    top: 4400px;

    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #181818;
}

.main__price__icon__developer{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1206px;
    top: 4655px;

    background: #F1F1F1;
    border-radius: 10000px;

}

.main__price__icon__developer img{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
}

.main__price__icon__clock{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 61px;
    top: 4532px;

    background: #F1F1F1;
    border-radius: 10000px;
}

.main__price__icon__clock img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;
}

.main__price__counting{
    position: absolute;
    width: 448px;
    height: 368px;
    left: 496px;
    top: 4544px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.main__price__counting__check{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 24px;
    top: 188px;

    border: 1px solid #808080;
    border-radius: 4px;
}

.main__price__counting__check__text{
    position: absolute;
    width: 331px;
    height: 48px;
    left: 56px;
    top: 184px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}

.main__price__example{
    position: absolute;
    width: 400px;
    height: 384px;
    left: 520px;
    top: 4904px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
}

.main__price__example__heading{
    position: absolute;
    width: 318px;
    height: 64px;
    left: 24px;
    top: 0px;

    font-weight: 600;
    font-size: 32px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #181818;
}

.main__price__example__first{
    position: absolute;
    width: 318px;
    height: 64px;
    left: 24px;
    top: 128px;  
    
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}

.main__price__example__first span{
    width: 83px;
    height: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #181818;  
}

.main__price__example__second{
    position: absolute;
    width: 161px;
    height: 24px;
    left: 24px;
    top: 200px;  
    
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}

.main__price__example__second span{
    width: 83px;
    height: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #181818;  
}

.main__price__example__button{
    position: absolute;
    left: 24px;
    top: 288px; 
    width: 352px;
    height: 56px;

    background: #181818;
    border-radius: 8px;
}
.main__price__example__button p{
    width: 135px;
    height: 24px;
    
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    margin-left: auto;
    margin-right: auto;

    color: #FFFFFF;
}
/* хуй */
.main__price__counting__button button{
    position: absolute;
    left: 24px;
    top: 272px;

    border: 2px solid #181818;
    border-radius: 8px;
    background: #FFFFFF;

    width: 400px;
    height: 56px;
}

.main__price__counting__button span{
    /* width: 175px;
    height: 24px; */

    color: #181818;

    font-style: normal;
    font-weight: 600;
}

.main__question__background{
    position: absolute;
    width: 1440px;
    height: 1232px;
    left: 0px;
    top: 5408px;

    background: #181818;
}

.main__question____heading{
    position: absolute;
    width: 316px;
    height: 64px;
    left: 562px;
    top: 5528px;

    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.main__question__first, .main__question__second, .main__question__third, .main__question__fouth{
    width: 1160px;
    height: 88px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.main__question__first p, .main__question__second p, .main__question__third p, .main__question__fouth p{
    width: 239px;
    height: 24px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}

.main__question__first{
    position: absolute;
    left: 140px;
    top: 5672px; 
}

.main__question__second{
    position: absolute;
    left: 140px;
    top: 5776px; 
}

.main__question__third{
    position: absolute;
    left: 140px;
    top: 5880px; 
}

.main__question__fouth{
    position: absolute;
    left: 140px;
    top: 5984px; 
}

.main__application__heading{
    position: absolute;
    width: 371px;
    height: 64px;
    left: 534px;
    top: 6740px;

    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #181818;
}

.main__application__text{
    position: absolute;
    width: 391px;
    height: 24px;
    left: 564px;
    top: 6832px;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}

.main__application__icon__lightning{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 141px;
    top: 6808px;
    
    background: #F1F1F1;
    border-radius: 10000px;
}

.main__application__icon__lightning img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;
}

.main__application__icon__developer{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1252px;
    top: 7156px;
    
    background: #F1F1F1;
    border-radius: 10000px;
}

.main__application__icon__developer img{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
}

.main__application__icon__cloud{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 250px;
    top: 7392px;
    
    background: #F1F1F1;
    border-radius: 10000px;
}

.main__application__icon__cloud img{
    position: absolute;
    width: 56px;
    height: 24px;
    left: 42px;
    top: 58px;
}

/* .main__application__icon__f{
    
} */

.main__application__icon__f img{
    position: absolute;
    left: 992px;
    top: 6940px;
}

/* .main__application__icon__tw{

} */

.main__application__icon__tw img{
    position: absolute;
    left: 989px;
    top: 6982px;
}

/* .main__application__icon__vk{

} */

.main__application__icon__vk img{
    position: absolute;
    left: 988px;
    top: 7023px;
}

.main__application__block{
    box-sizing: border-box;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
    padding-bottom: 40px;

    position: absolute;
    width: 448px;
    height: 552px;
    left: 496px;
    top: 6936px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.main__application__block input{
    width: 380px;
    height: 48px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 16px;

    color: #808080;

    border: 1px solid #DBDBDB;
    border-radius: 8px;
}

.main__application__block__field{
    margin-bottom: 24px;
}

.main__application__block__field__text input{
    width: 380px;
    height: 160px;
    padding-bottom: 40px;
}

.main__application__block_button button{
    background: #181818;
    border-radius: 8px;

    width: 400px;
    height: 56px;
}

.main__application__block_button span{
    /* width: 178px;
    height: 24px; */

    color: #FFFFFF;

    font-style: normal;
    font-weight: 600;
}
